/* Navbar section Start  */
.nav-link {
    color: #000;
}

.custom-btn {
    background: #4CAF4F;
    color: #fff;
    transition: all .5s ease-in-out;
}

.custom-btn:hover {
    background: #5ccc5f;
    color: #fff;
}

/* Navbar section End  */

/* Hero Section Start */
.hero-section {
    background: #F5F7FA;
}

.hero-title {
    font-size: 5rem;
    text-transform: capitalize;
}

.hero-title span {
    color: #4CAF4F;
    text-transform: capitalize;
}

.hero-subtitle {
    color: #717171;
    font-size: 13px;
}

.hero-btn {
    background-color: #4CAF4F;
    color: #FFF;
}

/* Hero Section End */


/* Client Section Start  */
.client-images {
    padding-top: 2rem;
    gap: 6rem;
}

.client-images img {
    width: 100px;
}

/* Client Section End  */

/* Community Section Start  */
.communi-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 0px 2rem;
}

.communi-cards h1 {
    font-size: 2.2rem;
    color: #717171;
    font-weight: 700;
}

.communi-cards p {
    font-size: 15px !important;
    color: #717171;
}

/* Community Section End  */

/* Pixel Section Start  */
.pixel-title {
    font-size: 3rem;
    color: #717171;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 2%;
}

.pixel-subtitle {
    font-size: 15px;
    color: #717171 !important;
    padding-bottom: 5%;
}

.pixel-btn {
    background: hsl(122, 39%, 49%);
    font-size: 1.2em;
    color: #FFF;
}

/* Pixel Section End  */


/* Help Section Start  */
.help-cards img {
    width: 60px;
}

.text-content {
    line-height: 0;
}

.text-content h5 {
    font-size: 20px;
    color: #717171;
    text-transform: capitalize;
    font-weight: 700;
}

.text-content p {
    font-size: 15px;
}

/* Help Section End  */


/* Care Section Start   */
.care-card {
    position: relative;
    border-radius: 50px !important;
}

.card-content {
    position: absolute;
    top: 12rem;
    left: 1.5rem;
    width: 350px;
    height: 170px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 2px 3px 5px 2px #0000001e;
}

.card-content h4 {
    font-size: 1.3rem;
}

/* Care Section End  */


/* Footer Section Start  */
.footer {
    background: #263238;
    height: 350px;
}

.demo-title {
    font-size: 5rem;
}

.demo-btn {
    margin-top: 2.5rem;
    background: #4CAF4F;
    color: #FFF;
}

#nav-item {
    color: #dadada;
}

#nav-link {
    color: #e2e2e2;
    line-height: 2;
}

.form {
    margin-top: 1.5rem;
    background: #ffffff25;
    border-radius: 30px;
}

.form input {
    background: none;
    border: none;
    padding: 1rem;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

}

.form img {
    width: 25px;
    margin-left: -7% !important;
}

.form input:active,
.form input:focus {
    border: none;
}

.brand-img {
    margin-top: -5% !important;
}

.copyright p {
    margin-top: 5%;
    color: #fff !important;
}

.brands-media i {
    margin-top: 5%;
    width: 50px;
    height: 50px;
    background: #ffffff2d;
    border-radius: 50px;
    padding-top: 5%;
    font-size: 22px;
    color: #fff;
}

/* Footer Section End  */