@media screen and (min-width: 1200px) {
    #grid {}

    .hero-title {
        font-size: 4rem;
    }
}

@media screen and (max-width:992px) {
    #grid {
        flex-direction: column;
        text-align: center;
    }

    #pixel-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .left-bar img {
        width: 600px;
        margin-left: -9.5rem;

    }

    #help-cards {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    #help-sm {
        margin-left: 25%;
    }

    .help-title {
        font-size: 2rem;
    }

    #design-grid {
        flex-direction: column;
        text-align: center;
    }

    #tesla-grid {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
}